html { width:100%; text-align:center; font-size:12px; }
body { margin:0; padding:0; width:100%; font-family:tamoha, Arial, "宋体";}
div, form, img, ul, ol, li, dl, dt, dd, table, td, tr, th, p, span { margin: 0; padding: 0; border: 0; font-size: 12px; }
li { list-style-type: none; text-align: left; }
select, input, button { font-size: 12px; font-family: Arial, "宋体" }
em { font-style: normal; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; font-size: 12px; }
img { vertical-align: middle; text-align: center; }
a:link ,a:visited{text-decoration: none; color:#444; }
a:hover { text-decoration:underline; color:#155fbe; }
button{cursor:pointer;}
/*======================层样式========================*/

.login_body{ background:#fff url('../../images/rosten/login/login_bg.jpg') left top repeat-x; height:auto !important; height:700px; min-height:700px;}
.login_body .login_top{ width:1000px; margin:0 auto; height:200px; background:url('../../images/rosten/login/login_top_bg.png') center center no-repeat;}
.login_body .login_main{ width:1000px; margin:0 auto; border-top:6px solid #017bc4; background:#fff;}
.login_body .login_table{ width:518px; height:320px; margin:15px auto 0px; background:url('../../images/rosten/login/login_bg.png') no-repeat; overflow:hidden;}
.login_body .login_table table{ width:320px; margin:30px auto 0px;}
.login_body .login_table table tr th{ color:#908964; font: bold 14px/36px "microsoft YaHei"; text-align:right; padding-bottom:15px; padding-right:10px;}
.login_body .login_table table tr td{ text-align:left;}
.login_body .login_table table tr td .login_input{ font-family:"microsoft YaHei";width:226px; padding:0px 30px 0px 10px;height:36px; background:url('../../images/rosten/login/login_input1.png') no-repeat; border:0px none; margin-bottom:15px;}
.login_body .login_table table tr td .login_pwd{ font-family:"microsoft YaHei";width:226px; padding:0px 30px 0px 10px;height:36px; background:url('../../images/rosten/login/login_input2.png') no-repeat; border:0px none;margin-bottom:15px;}
.login_body .login_table table tr td label{ color:#878686; font:normal 14px/20px "microsoft YaHei";}
.login_body .login_table table tr td label input{ float:left; margin-right:10px;font-family:"microsoft YaHei"}
.login_body .login_table table tr td .login_but{ width:266px;height:36px; background:url('../../images/rosten/login/login_but.png') no-repeat; border:0px none; color:#fff; text-align:center; cursor:pointer; font:normal 14px/36px "microsoft YaHei"; }
.login_body .login_message{
	margin-bottom:15px;
	color: #c33;
	font-size:20px;
	font-family: 'Microsoft YaHei';
	margin-top:38px;
}
